# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Java files
[*.java]
indent_style = space
indent_size = 4
max_line_length = 120
ij_java_wrap_long_lines = true
ij_java_method_call_chain_wrap = split_into_lines
ij_java_wrap_first_method_in_call_chain = true
ij_java_call_parameters_wrap = normal
ij_java_line_comment_at_first_column = false
ij_java_block_comment_at_first_column = false
ij_java_indent_case_from_switch = true
ij_java_space_after_comma = true
ij_java_use_single_class_imports = true
ij_java_names_count_to_use_import_on_demand = 5

# XML files
[*.xml]
indent_style = space
indent_size = 4
